<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XMDialogDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C9D91421E892F0D003A2D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9D91561E892F0E003A2D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9D91611E892F0E003A2D29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
